<%= if @current_user do %>
<%= content_tag :div, id: "lobby_container", data: [username: @current_user.username] do %>
<div id="server_conn">
    <server-conn></server-conn>
</div>
<div>
    <div id="leftside_bar">
        <sidebar></sidebar>
    </div>
    <div id="main_container" style="position: fixed; height: 100%; width: 100%; top: 0; left: 0" class="lobby-body">
        
    </div>
</div>
<% end %>
<% end %>
