<%= if @current_user do %>
<%= content_tag :div, id: "lobby_div", data: [username: @current_user.username] do %>
<div id="server_conn_div">
    <server-conn></server-conn>
</div>
<div>
    <div id="sidebar_div">
        <sidebar></sidebar>
    </div>
    <div id="main_div">
        <main-window></main-window>
    </div>
</div>
<% end %>
<% end %>
